.Frame {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: default;
}

.Frame::-webkit-scrollbar {
  width: 5px;
}
.Frame::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
}
