.AddNewItem {
  position: relative;
  width: 720px;
  height: 900px;
  margin-left: 600px;
  margin-top: 48px;
  background: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  border-radius: 15px;
}

.AddNewItem:focus {
  outline: none;
}

.information {
  position: absolute;
  width: 380px;
  height: 42px;
  left: 148px;
  top: 44px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
