.root {
    position: relative;
    width: 720px;
    height: 519px;
    margin-left: 600px;
    margin-top: 280px;
    background: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
    border-radius: 15px;
}

.root {
    outline: none;
}

.text {
    position: absolute;
    left: 116px;
    margin-top: 84px;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    color: #000000;
}