.root {
  position: relative;
  width: 720px;
  height: 519px;
  margin-left: 600px;
  margin-top: 280px;
  background: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  border-radius: 15px;
}

.root:focus {
  outline: none;
}

.text {
  position: absolute;
  width: 350px;
  height: 84px;
  left: 154px;
  top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}